*{
    margin: 0 auto;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;

}

body {
    background-attachment: fixed;
    background-position-y: -300px;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}

h1 {
    margin:30px auto 15px auto;
    font-size: 25px;
    max-width: 100%;

}

h2 {
    font-size: 14px;
    margin: 0 15% 20px 15%;
    text-align: center;
    color:hsl(224, 23%, 55%);
}

.container {
    margin-top:17vh ;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 65vh;
    min-width: 430px;
    min-height: 600px;
    border-radius: 20px;
    background-color: white;
}

.container--grayed_area {
    display: flex;
    border-radius: 1vh;
    height: 15%;
    width: 80%;
    max-width: 100%;
    background-color: hsl(225, 100%, 98%);
}

.container--grayed_area-music_icon {
    max-height: 45px;
    max-width: 45px;
    height: 100%;
    width: 100%;
    margin: 20px;
}
.container--grayed_area-price {
    position: absolute;
    color:hsl(224, 23%, 55%);
    margin:45px 0px 0px 90px;
    font-size:15px;
}

.container--grayed_area-plan {
    position: absolute;
    margin: 16px 0 0 90px;
}

.container--grayed_area-link {
    position: absolute;
    margin: 30px 270px;
}

.container--grayed_area-link:hover {
    color: hsl(239, 80%, 80%);
    text-decoration: none;
}
.container--button_proceed {
    display: flex;
    align-items: center;;
    justify-content: center;
    margin: 20px auto 25px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    height: 8%;
    width: 80%;
    max-width: 100%;
    color: white;
    font-size:15px;
    box-shadow: 2px 15px 5px hsla(245, 75%, 52%, 0.103);
    border: none;

}

.container--button_cancel {
    border: none;
    background-color: transparent;
    color:hsl(224, 23%, 55%);
}

.container--button_proceed:hover {
    background-color: hsl(239, 80%, 80%);
}

.container--button_cancel:hover {
    color: black;
}